.table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    margin: 40px;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.6);;
}

.table-header {
    background-color: rgb(21, 99, 167);
    color: white;
}

.table-header,
.table-data {
    border: 1px solid black;
    width: 33%;
    padding: 10px 50px;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: rgb(194, 220, 241);
}